<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
  
    <p class="designation">sitoffice</p>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>apartment</mat-icon>
      <span>Direcciones</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>airline_seat_recline_normal</mat-icon>
      <span>Espacios</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Usuarios</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>gavel</mat-icon>
      <span>Reglas</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      Main content
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>