<!-- <p>{{sidenavMode}}</p> -->
<mat-toolbar>
    <p>{{x}}</p>
    <!-- <button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button> -->
    <button mat-icon-button>
        <mat-icon>
            menu
        </mat-icon>
        <mat-icon>
            close
        </mat-icon>
    </button>
    sitoffice
</mat-toolbar>
